@font-face {
  font-family: 'MedievalSharp';
  src: url('fonts/NewRocker-Regular.otf') format('opentype');
}

/* Global reset */

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.sign-up-land {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* side bar */
.aside {
  background-image: url(images/Guts-Berserker-Armour.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  align-self: center;
  width: 100%;
}

.logo {
  width: 30%;
}
.logo-heading {
  color: #f8f9fa;
  font-family: 'MedievalSharp', sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
}

/* main sign up form */
.sign-up {
  flex: 2;
  background-color: #f8f9fa;
}

/* HEADER */
.heading-box {
  padding: 0 5rem 0 5rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 100ch;
}

.heading-primary {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #212529;
  & span {
    font-style: italic;
  }
}

.heading-box p {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: bold;
  color: #212529;
  & span {
    font-style: italic;
  }
}

/* FORM */
.form {
  background-color: #fff;
  padding: 3rem 5rem 3rem 5rem;
  box-shadow: 0px 9px 21px -6px rgba(0, 0, 0, 0.1);
}

.heading-secondary {
  color: #212529;
  margin-bottom: 1rem;
}

.form-controls {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & li {
    flex: 1 0 50%;
    position: relative;
  }
}

input,
label {
  font-size: 100%;
  font-family: inherit;
  width: 80%;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  padding: 6px 10px;

  appearance: none;
  border: 1px solid #ced4da;
  border-radius: 3px;
  color: #495057;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: 1px solid #212529;
}
input:focus:required:invalid {
  border: 1px solid red;
}

.required {
  content: '*this field is required';
  position: absolute;
  font-size: 0.9rem;
  left: 0;
  top: 6.5rem;
  text-transform: none;
  color: red;
  opacity: 0;
  transition: opacity 0.3s;
}

input:required:invalid + .required {
  opacity: 1;
}

/* CREATE ACCOUNT */
.account-box {
  margin-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;

  & p {
    font-size: 1.6rem;
    color: #495057;

    & span {
      color: #212529;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.btn {
  background: none;
  border: none;
  padding: 1rem 1.8rem;
  background-color: #212529;
  font-size: 1.8rem;
  color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  .sign-up-land {
    flex-direction: column;
  }

  .aside {
    background-position: top;
  }

  .logo-box {
    justify-content: flex-start;
  }

  .logo {
    width: 10%;
  }

  .heading-box {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
